/*styling div maincontainer*/
div#divmaincontainer{
  width:80%;
  margin:auto;
 /* border:1px solid turquoise;*/
}

/*styling the header of the site*/
header#siteheader{
  width: 100%;
  height: 150px;
  background-image:linear-gradient(greenyellow,cyan,teal);
  border:1px solid darkgrey;
  border-radius: 5px 5px 0 0;
  padding: 20px
 
}
/*styling site title*/
h1#sitetitle{
  font-family: arial;
  font-size: 32px;
  color: orange;
   text-align: centre;
}
/*site motto*/
span#sitemotto{
  font-size: 18px;
  font-family: tahoma;
  font-style: italic;
  color: aqua;
  text-align: centre;
}
/*site navigation*/
nav#sitenav{
  width: 100%
  height: 30px
  background-image: radial-gradient(greenyellow,cyan);
}
/*navigation elements*/
ul#ulnav>li{
  display: inline;
  list-style-type: none;
  


  
